#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e > #backgroundBox {
  position: absolute;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_2 {
  position: absolute;
  width: 360.9999999999997px;
  min-height: 104.89889416941644px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #223C57;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Image_1 {
  position: absolute;
  width: 360.0px;
  height: 539.2828685258964px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_1 {
  position: absolute;
  width: 360.00000000000006px;
  min-height: 81.99999999999994px;
  opacity: 0.63;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bauhaus 93',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_1 span {
  color: #B17543;
  text-align: left;
  text-decoration: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B17543;
  text-decoration: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_147 {
  position: absolute;
  width: 45.0px;
  height: 30.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_3 {
  position: absolute;
  width: 268.0920257568364px;
  min-height: 321.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.75);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 {
  position: absolute;
  width: 62.944147882381px;
  min-height: 53.69505943761919px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.0);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 > .borderLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 span {
  color: #6750A4;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_22 span#rtr-s-Button_22_0 {
  color: #6750A4;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 {
  position: absolute;
  width: 65.17730808737542px;
  min-height: 53.69505943761925px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.0);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 > .borderLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 .paddingLayer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 span {
  color: #6750A4;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Button_23 span#rtr-s-Button_23_0 {
  color: #6750A4;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_56 {
  position: absolute;
  width: 80.87049213056991px;
  min-height: 39.286128931313215px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_56 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_56 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_56 span#rtr-s-Paragraph_56_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_53 {
  position: absolute;
  width: 173.5225111136209px;
  min-height: 42.24608266089484px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_53 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_53 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 5.25pt;
  letter-spacing: 0.4px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_53 span#rtr-s-Paragraph_53_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 5.25pt;
  letter-spacing: 0.4px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Ellipse_8 {
  width: 60.641630558164366px;
  height: 59.99570536698366px;
  min-height: 59.99570536698366px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.0);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_8 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/5b5e3b2d-df95-4192-8e54-7176786f5a17.jpg');
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_206 {
  position: absolute;
  width: 15.000091552734375px;
  height: 13.000041961669922px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_200 {
  position: absolute;
  width: 234.21975708007812px;
  height: 1.5px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_7 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Ellipse_7 {
  width: 61.6477303639374px;
  height: 50.85003613324358px;
  min-height: 50.85003613324358px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.0);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_7 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/9c0529d6-de74-4be3-8f80-1b29a31e8d16.jpg');
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_57 {
  position: absolute;
  width: 167.95806194599777px;
  min-height: 62.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_57 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_57 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_57 span#rtr-s-Paragraph_57_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_54 {
  position: absolute;
  width: 172.45481381062177px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_54 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_54 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 5.25pt;
  letter-spacing: 0.4px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_54 span#rtr-s-Paragraph_54_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 5.25pt;
  letter-spacing: 0.4px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_207 {
  position: absolute;
  width: 15.000091552734375px;
  height: 13.000041961669922px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_201 {
  position: absolute;
  width: 234.21975708007812px;
  height: 1.5px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Ellipse_6 {
  width: 55.99272162624867px;
  height: 47.978968087096575px;
  min-height: 47.978968087096575px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.0);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_6 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/befbf621-50f1-416c-9ad1-11cdc2db23b8.jpg');
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_55 {
  position: absolute;
  width: 174.46882623412483px;
  min-height: 89.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_55 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_55 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 5.25pt;
  letter-spacing: 0.4px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_55 span#rtr-s-Paragraph_55_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 5.25pt;
  letter-spacing: 0.4px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_58 {
  position: absolute;
  width: 176.32659399696598px;
  min-height: 42.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_58 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_58 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_58 span#rtr-s-Paragraph_58_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_208 {
  position: absolute;
  width: 15.000091552734375px;
  height: 13.000041961669922px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_202 {
  position: absolute;
  width: 234.21975708007812px;
  height: 1.5px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_2 {
  position: absolute;
  width: 20.798076629638672px;
  height: 9.49320125579834px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 {
  position: absolute;
  width: 360.4999999999982px;
  min-height: 640.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #223C57;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 {
  position: absolute;
  width: 326.99198717948707px;
  min-height: 41.13720642768857px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(243,237,247,0.9);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 52px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_3 {
  position: absolute;
  width: 12.0px;
  height: 12.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_6 {
  position: absolute;
  width: 103.36921424546267px;
  min-height: 28.47960444993811px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_6 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_6 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_6 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 {
  position: absolute;
  width: 326.99198717948707px;
  min-height: 41.13720642768848px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: rgba(243,237,247,0.9);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 52px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_4 {
  position: absolute;
  width: 13.314796447753906px;
  height: 12.662994384765625px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_8 {
  position: absolute;
  width: 81.59961257028249px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_8 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 {
  position: absolute;
  width: 326.99198717948707px;
  min-height: 41.13720642768848px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: rgba(243,237,247,0.9);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 52px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_5 {
  position: absolute;
  width: 12.0px;
  height: 12.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_9 {
  position: absolute;
  width: 81.59961257028249px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_9 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_9 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_9 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 {
  position: absolute;
  width: 326.99198717948707px;
  min-height: 41.1372064276886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: rgba(243,237,247,0.9);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 52px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_6 {
  position: absolute;
  width: 14.0px;
  height: 12.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_10 {
  position: absolute;
  width: 120.88486898053884px;
  min-height: 28.479604449938194px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_10 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_10 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_10 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 {
  position: absolute;
  width: 326.99198717948707px;
  min-height: 41.13720642768854px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.9);
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 52px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_13 {
  position: absolute;
  width: 81.59961257028249px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_13 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_13 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_13 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_7 {
  position: absolute;
  width: 13.86538314819336px;
  height: 9.493194580078125px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_14 {
  position: absolute;
  width: 191.03719701522436px;
  min-height: 70.67756103972965px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bauhaus 93',Arial;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_14 span {
  color: #B17543;
  text-align: left;
  text-decoration: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.15px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #B17543;
  text-decoration: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.15px;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e #s-Path_8 {
  position: absolute;
  width: 45.0px;
  height: 23.733003616333008px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c77ad3e2-6df2-42bf-8756-e2b7c65df66e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}